.menu {
    width: 960px;
    padding: 10px;
    border-bottom: 1px solid gray
}
.nav {
    display: inline-block;
    width: 840px;
    text-align: right;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.input-menu {
    border-radius: 30px;
}